@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {

    /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
  
  
    // CONTENEUR GLOBAL
    .detailsModal__container {
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        align-items: center;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-color: vars.$theme1-primary;
        z-index: 3;

        &-distributionList {
            overflow: auto;
            align-items: flex-start;
            justify-content: center;
            display: flex;
            width: 18%;
            height: 100%;
            background-image: url('../../../../../public/images/pelloche.png');
            background-size: cover;
            background-position: center;
        }

        &-distribution {
            background-color: vars.$theme1-secondary;
            width: 78%;

            &-title {
                color: vars.$theme1-primary;
                font-size: 1.8rem;
                font-weight: bold;
                padding-bottom: 0.8rem;
                padding-top: 1.5rem;
                text-align: center;
            }
        }

        &-actorsList {
            display: flex;
            flex-direction: column;
            color: vars.$theme1-primary;
            width: 100%;
            align-items: center;
        }

        &-actor {
            margin: 0.5rem 0;
            width: 90%;

            &--image {
                display: block;
                margin-bottom: 0.2rem;
                margin: 0 auto;
                border-radius: 6px;
            }

            &--title {
                text-align: center;
                font-size: 1.2rem;
                font-weight: bold;
                margin-bottom: 0.4rem;
            }

            &--role {
                margin-top: 0.2rem;
                text-align: center;
            }
        }

        &-originalTitle {
            font-size: 1.3rem;
            font-weight: bold;
            margin-top: 1rem;
            padding-bottom: 0.3rem;
        }

        &-originalTitleName {
            padding-bottom: 1.5rem;
            line-height: 1.2rem;
        }

        &-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;

            &--container {
                display: flex;
                flex-direction: column;
                align-items: center;

                &--movie {
                    // height: 30vw;
                    width: 22vw;
                    border: vars.$theme1-secondary solid 7px;
                    border-radius: 6px;
                    margin: -5px 2rem;
                }

                &--link {
                    font-size: 1.2rem;
                    width: 22vw;
                    height: 2rem;
                    margin-bottom: 1.3rem;
                    padding-top: 0.35rem;
                    text-align: center;
                    border: none;
                    background: none;
                    background-color: #fff3b0;
                    color: #335c67;
                    border-radius: 0 0 6px 6px;
                    font-weight: bold;
                }
            }
        }

        // CONTIENT TOUS LES STYLES SAUF LE BOUTTON RETOUR
        &-details {
            overflow: auto;
            align-items: center;
            justify-content: space-around;
            align-items: baseline;
            display: flex;
            width: 50%;
            height: 100%;
            padding-bottom: 100px;

            &::-webkit-scrollbar {
                display: none;
            }
            

            &--principal {
                width: 40%;
                margin: 1rem;
            }

            &--secondary {
                width: 40%;
                margin: 2rem;
            }

            // Titres
            & h3 {
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 0.8rem;
                padding-top: 1.5rem;
            }

            & ul {
                font-size: 1.2rem;
                font-weight: bold;
                // padding-bottom: 0.6rem;
                // padding-top: 1.5rem;
            }

            & li {
                list-style-type: none;
                font-size: 1rem;
                font-weight: initial;
                line-height: 1.2rem;
            }

            // Paragraphes
            & p {
                line-height: 1.2rem;
            }
        }

        // Conteneur du bouton de retour
        &-button {
            display: flex;
            width: 100vw;
            height: 70px;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            background-color: vars.$theme1-primary;
            filter: drop-shadow(0 -3mm 5mm rgba(66, 66, 66, 0.349));

            // Bouton de retour
            &--btn {
                font-size: 1.2rem;
                width: 20%;
                height: 1.7rem;
                padding: 0.3rem;
                border: none;
                background: none;
                background-color: #fff3b0;
                color: vars.$theme1-primary;
                border-radius: 6px;
                font-weight: bold;
            }
        }
    }
}

//* MOBILE VERSION =================

@media screen and (max-width: 900px) {

    // CONTENEUR GLOBAL
    .detailsModal__container {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        width: 100%;
        padding: 2rem;
        padding-bottom: 60px;
        background-size: cover;
        background-color: vars.$theme1-primary;
        z-index: 2;


        &-image {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 2rem;

            &--container {
                display: flex;
                margin-bottom: 1rem;

                &--movie {
                    display: none;
                }

                &--link {
                    font-size: 1.2rem;
                    width: 60vw;
                    height: 2rem;
                    margin-bottom: 1rem;
                    padding-top: 0.35rem;
                    text-align: center;
                    border: none;
                    background: none;
                    background-color: #fff3b0;
                    color: #335c67;
                    border-radius: 6px;
                    font-weight: bold;
                }
            }
        }

        &-originalTitle {
            font-size: 1.3rem;
            font-weight: bold;
            padding-bottom: 0.3rem;
        }

        &-originalTitleName {
            padding-bottom: 1.5rem;
            line-height: 1.2rem;
        }

        // CONTIENT TOUS LES STYLES SAUF LE BOUTTON RETOUR
        &-details {
            width: 100%;
            padding-bottom: 2rem;

            // Titres
            & h3 {
                font-size: 1.2rem;
                font-weight: bold;
                padding-bottom: 0.3rem;
            }

            // Paragraphes
            & p {
                padding-bottom: 1.5rem;
                line-height: 1.2rem;
            }

            // Tableau d'acteurs
            & ul {
                padding-bottom: 1.5rem;
            }

            // Acteur
            & li {
                padding: 0.2rem 0;
            }
        }

        // Conteneur du bouton de retour
        &-button {
            display: flex;
            width: 100vw;
            height: 70px;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            filter: drop-shadow(0 -3mm 5mm rgba(66, 66, 66, 0.349));
            background-color: vars.$theme1-primary;

            // Bouton de retour
            &--btn {
                font-size: 1.2rem;
                width: 90%;
                height: 1.7rem;
                border: none;
                background: none;
                background-color: #fff3b0;
                color: vars.$theme1-primary;
                border-radius: 6px;
                font-weight: bold;
            }
        }
    }
}