@use '../../../styles/vars';

.cookie-consent-modal__background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
}

.cookie-consent-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: vars.$theme1-primary;
    border-radius: 15px;
    border: 3px vars.$theme1-secondary solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    position: fixed;
    z-index: 1000;
    width: 50vw;
    height: 35vh;
    max-width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.2s ease-in-out;
    

    p {
        color: vars.$theme1-secondary;
        font-size: 1.3rem;
        margin-bottom: 1rem;
    }

    a {
        color: vars.$theme1-secondary;
        font-size: 1.4rem;
        font-weight: 700;
        text-decoration: none;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.03);
            cursor: pointer;
        }
    }

    button {
        background-color: vars.$theme1-secondary;
        border: none;
        border-radius: 9px;
        color: vars.$theme1-primary;
        cursor: pointer;
        font-size: 1rem;
        font-weight: 700;
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.03);
            cursor: pointer;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }




}