@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {
  .otherResults-container {
    display: flex;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
    width: 18%;
    max-width: 16%;
    height: 100%;
    background-image: url('../../../../../public/images/pelloche.png');
    background-size: cover;
    background-position: center;
    margin: auto;

    &::-webkit-scrollbar {
      display: none;
  }

    &--scrollList {
      display: flex;
      background-color: vars.$theme1-secondary;;
      width: 78%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 0.2rem;

      &---title {
        font-size: 1.5rem;
        color: vars.$theme1-primary;
        font-weight: bold;
        padding-top: 2rem;
        text-align: center;
      }

      &---images {
        display: block;
        margin-bottom: 0.2rem;
        margin: 0.8rem auto;
        border-radius: 10px;
        // width: 90%;
        max-width: 100%;

      }
    }
  }
}

//* DESKTOP VERSION =================

@media screen and (max-width: 900px) {

  .otherResults-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem auto;
    width: 100%;
    height: auto;


    &--scrollList {
      padding-bottom: 160px;
      padding-top: 48px;
      background-color: vars.$theme1-secondary;
      background-image: url('../../../../../public/images/pelloche.png');
      background-size: contain;
      background-position: center;
      align-items: center;
      width: 100%;
      height: auto;

      &---title {
        display: none;
      }

      &---images {
        display: block;
        margin: 1rem auto;
        border-radius: 10px;
        width: 100%;
        max-width: 220px;

      }
    }
  }
}