@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {
  .otherResults-container {
    display: flex;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
    width: 18%;
    height: 100%;
    background-image: url('../../../../../public/images/pelloche.png');
    background-size: cover;
    background-position: center;

    &--scrollList {
      display: flex;
      background-color: #fff3b0;
      width: 78%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      &---title {
        font-size: 1.5rem;
        color: vars.$theme1-primary;
        font-weight: bold;
        padding-top: 2rem;
        text-align: center;
      }

      // &---movies {
      //   width: 100%;
      // }

      &---images {
        display: block;
        margin-bottom: 0.2rem;
        margin: 0.8rem auto;
        border-radius: 10px;
        width: 100%;

      }
    }
  }
}
