@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {
  .otherResults-container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    align-items: flex-start;
    justify-content: center;
    width: 18%;
    max-width: 16%;
    height: 100%;
    margin: auto;

    &::-webkit-scrollbar {
      display: none;
    }

    &--pellicule {
      display: flex;
      width: 100%;
      justify-content: center;
      background-image: url('../../../../../public/images/pelloche.png');
      background-size: contain;
      background-position: center;
      margin: auto;
    }

    &--scrollList {
      display: flex;
      background-color: vars.$theme1-secondary;
      width: 77%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 1.5rem 0.2rem;

  
      &---images {
        display: block;
        margin: 1rem auto 0.3rem auto;
        border-radius: 10px;
        width: 100%;
        max-width: 220px;
        transition: transform 0.2s ease-in-out;
        
        &:hover {
        transform: scale(1.03);
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
      }

      &---movieTitle {
        color: vars.$theme1-primary;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        padding: 0 0.2rem;
      }
    }
  }
}

//* MOBILE VERSION =================

@media screen and (max-width: 900px) {

  .otherResults-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem auto;
    width: 100%;
    height: auto;

    &--pellicule {
      display: flex;
      justify-content: center;
      background-color: vars.$theme1-secondary;
    }

    &--scrollList {
      padding-bottom: 130px;
      padding-top: 48px;
      background-color: vars.$theme1-secondary;
      background-image: url('../../../../../public/images/pellochebleuenew.png');
      background-size: contain;
      background-position: center;
      align-items: center;
      width: 100%;
      max-width: 400px;
      height: auto;

      &---title {
        display: none;
      }

      &---images {
        display: block;
        margin: 1rem auto;
        border-radius: 10px;
        width: 100%;
        max-width: 260px;
      }
      
      &---movieTitle {
        color: vars.$theme1-primary;
        text-align: center;
        font-size: 1.1rem;
        font-weight: bold;
        margin: auto 4rem;

      }
    }
  }
}