@use './../../../../styles/vars';

//* ============ VERSION DESKTOP ============

.SearchBar {
  form {
    input {
      background-color: vars.$theme1-primary;
      border: 2px solid vars.$theme1-secondary;
      border-radius: 16px;
      height: 32px;
      // padding: 0 15px;
      background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-512.png');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 30px;
      width: 100%;
      font-size: 16px;
      padding: 12px 20px 12px 40px;
      margin-bottom: 12px;
      color: vars.$theme1-secondary;
      &::placeholder {
        color: vars.$theme1-secondary;
        opacity: 0.3;
      }
    }
  }
}
