@use './../../../styles/vars';

//* ============ VERSION DESKTOP ============
.profile-container {
  width: 100vw;
  height: 100vh;
  background-color: vars.$theme1-primary;
  display: flex;
  flex-direction: row;

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;

    &-button {
      display: flex;
      height: 25px;
      width: 200px;
      border-radius: 15px;
      background-color: vars.$theme1-secondary;
      border: vars.$theme1-secondary;
      color: vars.$theme1-primary;
      font-family: 'Creato Display';
      border: none;
      font-size: 20px;
      padding: 15px 1%;
      align-items: center;
      justify-content: center;
    }
  }

  &__roll-modale {
    &-desktop-version {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      z-index: 1;
      width: 55%;

      &-backdropfilter {
        display: none;
      }

      &__column {
        display: flex;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__roll {
        display: flex;
        justify-content: center;
        width: 420px;
        height: fit-content;
        margin-bottom: 40px;
        background-image: url('/images/pelloche.png');
        background-size: cover;
        background-position: center;
        margin-right: 100px;
      }

      &__roll-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 320px;
        height: 100%;
        background-color: vars.$theme1-secondary;
        margin-top: 70px;

        &__item {
          border: none;
          font-size: 20px;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: vars.$theme1-secondary;
          background-color: vars.$theme1-primary;
          width: 280px;
          height: 110px;
          padding: 20px 20px;
          margin: 5px;
          flex-wrap: nowrap;
          position: relative;
          text-align: center;
          display: relative;

          &-a {
            position: absolute;
            bottom: 5px;
            left: 5px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-b {
            position: absolute;
            top: 5px;
            right: 5px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-c {
            position: absolute;
            bottom: 5px;
            left: 5px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            cursor: pointer;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-category {
            position: sticky;
            top: 0;
            font-weight: 700;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: vars.$theme1-primary;
            font-size: 32px;
            background-color: vars.$theme1-secondary;
            width: 200px;
            padding: 10px;
            margin: 5px;
            z-index: 2;
          }
        }
      }
    }
  }

  &__personnal {
    width: 45vw;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 10px;
    color: vars.$theme1-secondary;

    &__pictureemailpassword {
      display: flex;
      flex-direction: row;


      &__emailpassword {
        margin: 35px 0 0 20px;

        &__email {
          margin-bottom: 20px;
          font-size: 25px;
          display: flex;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }

        &__password {
          margin-left: 17px;
          margin-bottom: 20px;
          font-size: 20px;
          display: flex;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }
      }
    }

    h2 {
      font-size: 46px;
    }

    &__circle {
      margin-bottom: 50px;
      scale: 1.2;
    }

    &__infos {
      margin-bottom: 15%;

      &__pictureemailpassword {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__title {
      margin-bottom: 50px;
      margin-left: 50px;
    }
  }
}

//* ============ VERSION LAPTOP ============
@media screen and (min-width: 1101px) and (max-width: 1800px) {
  .profile-container {

    &__personnal {
      width: 45vw;
      height: 90%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-top: 130px;
      color: vars.$theme1-secondary;

      &__pictureemailpassword {
        display: flex;
        flex-direction: row;


        &__emailpassword {
          margin: 35px 0 0 20px;

          &__email {
            margin-bottom: 20px;
            font-size: 25px;
            display: flex;

            span {
              font-style: italic;
            }

            div {
              margin-left: 5px;
              font-weight: 700;
            }
          }

          &__password {
            margin-left: 17px;
            margin-bottom: 20px;
            font-size: 20px;
            display: flex;

            span {
              font-style: italic;
            }

            div {
              margin-left: 5px;
              font-weight: 700;
            }
          }
        }
      }

      h2 {
        font-size: 46px;
      }

      &__circle {
        margin-bottom: 50px;
        scale: 1.2;
      }

      &__infos {
        margin-bottom: 15%;

        &__pictureemailpassword {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &__title {
        margin-bottom: 50px;
        margin-left: 50px;
      }
    }
  }

}

//* ============ VERSION MOBILE ============

@media screen and (max-width: 1100px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: vars.$theme1-primary;


    &__roll-modale {
      &-mobile-version {
        position: absolute;
        padding-top: 70px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;

        &-backdropfilter {
          z-index: 4;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background-color: vars.$theme1-primary;
        }

        &__column {
          z-index: 5;
          display: flex;
          overflow: hidden;
          overflow-y: auto;
          flex-direction: column;

          &::-webkit-scrollbar {
            display: none;
          }

          &__returnbuttonarea {
            background-color: vars.$theme1-secondary;
            display: flex;
            justify-content: center;
            padding: 8px;

            &__return {
              border-radius: 5px;
              border: none;
              background-color: vars.$theme1-primary;
              color: vars.$theme1-secondary;
              height: 30px;
              width: 90%;
              font-size: 20px;
              font-family: 'Creato Display', 'sans serif';
            }
          }
        }

        &__roll {
          display: flex;
          justify-content: center;
          width: 280px;
          height: fit-content;
          background-image: url('/images/pelloche.png');
          background-size: cover;
          background-position: center;
        }

        &__roll-container {
          height: 100%;
          z-index: 1001;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-height: 100%;
          background-color: vars.$theme1-secondary;

          &::-webkit-scrollbar {
            display: none;
          }

          &__item {
            // border: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: vars.$theme1-secondary;
            background-color: vars.$theme1-primary;
            width: 200px;
            height: 70px;
            padding: 20px 20px;
            margin: 5px;
            cursor: pointer;
            flex-wrap: nowrap;
            position: relative;
            text-align: center;

            &-a {
              position: absolute;
              bottom: 5px;
              left: 5px;
              cursor: pointer;
            }

            &-b {
              position: absolute;
              top: 5px;
              right: 5px;
              cursor: pointer;
            }

            &-c {
              position: absolute;
              bottom: 5px;
              left: 5px;
              cursor: pointer;
            }

            &-category {
              position: sticky;
              top: 0;
              font-weight: 700;
              display: flex;
              justify-content: space-around;
              align-items: center;
              color: vars.$theme1-primary;
              font-size: 32px;
              background-color: vars.$theme1-secondary;
              width: 200px;
              padding: 10px;
              z-index: 2;
            }
          }
        }
      }
    }

    &__personnal {
      width: 100%;
      margin-left: 0;

      &__circle {
        margin-bottom: 20px;
      }

      &__infos {
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        &__title {
          display: none;
        }

        &__pictureemailpassword {
          display: flex;
          flex-direction: column;
          margin-top: 15%;
          align-items: center;
        }
      }

      &__pictureemailpassword__emailpassword {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px;

        &__email {
          display: inline-block;
          width: 100%;
          text-align: center;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }

        &__password {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: auto;
        }
      }
    }

    &__rollbuttons {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__button {
        width: 60vw;
        height: 8vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 15px;
        border: vars.$theme1-secondary;
        font-size: 32px;
        padding: 0 6px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}