@use './../../../styles/vars';

.Profile-container {
  width: 100vw;
  height: 100vh;
  background-color: vars.$theme1-primary;
  display: flex;
  flex-direction: row;
  &-buttons {
    margin: 40px 0 0 0;

    &-button {
      height: 25px;
      width: 200px;
      border-radius: 15px;
      background-color: vars.$theme1-secondary;
      border: vars.$theme1-secondary;
      color: vars.$theme1-primary;
      font-family: 'Creato Display';
      border: none;
      font-size: 20px;
      padding: 0 1%;
      margin-right: 20px;
    }
  }
  &__roll-modale {
    &-desktop-version {
      &-backdropfilter {
        display: none;
      }
      &__roll-container {
        z-index: 1001;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        max-height: 100%;
        overflow: hidden;
        overflow-y: auto;
        background-color: vars.$theme1-secondary;
        margin-top: 70px;
        margin-bottom: 55px;
        &::-webkit-scrollbar {
          display: none;
        }
        &__item {
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: vars.$theme1-secondary;
          background-color: vars.$theme1-primary;
          width: 200px;
          height: 70px;
          padding: 20px 20px;
          margin: 5px;
          cursor: pointer;
          flex-wrap: nowrap;
          position: relative;
          i {
            position: absolute;
            bottom: 5px;
            left: 5px;
          }

          &-category {
            position: sticky;
            top: 0;
            font-weight: 700;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: vars.$theme1-primary;
            font-size: 32px;
            background-color: vars.$theme1-secondary;
            width: 200px;
            padding: 10px;
            margin: 5px;
          }
        }
      }
    }
    // &__favoritefilters {
    //   h3 {
    //     font-size: 24px;
    //   }
    //   &__title {
    //     margin-left: 50px;
    //   }
  }
  &__personnal {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
    color: vars.$theme1-secondary;
    &__pictureemailpassword {
      display: flex;
      flex-direction: row;
      &__emailpassword {
        margin: 20px 0 0 20px;
        &__item {
          margin-bottom: 20px;
        }
      }
    }
    h2 {
      font-size: 46px;
    }
    &__circle {
      width: 200px;
      height: 200px;
      border: vars.$theme1-secondary 3px solid;
      border-radius: 100px;
    }
    &__infos {
      margin-bottom: 15%;
    }
    &__title {
      margin-bottom: 50px;
      margin-left: 50px;
    }
  }
}
