@use './../../../styles/vars';

//* ============ VERSION DESKTOP ============
.profile-container {
  width: 100vw;
  height: 100vh;
  background-color: vars.$theme1-primary;
  display: flex;
  flex-direction: row;

  &-buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px auto;

    &-button {
      display: flex;
      height: 2vh;
      width: 15vw;
      border-radius: 11px;
      background-color: vars.$theme1-secondary;
      border: vars.$theme1-secondary;
      color: vars.$theme1-primary;
      font-family: 'Creato Display';
      border: none;
      font-size: 20px;
      padding: 15px 1%;
      align-items: center;
      justify-content: center;
    }
  }

  &__roll-modale {
    &-desktop-version {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      z-index: 1;
      width: 55%;

      // profile-container__roll-modale-mobile-version
      &__column {
        &__returnbuttonarea {
          display: none;
        }
      }

      &-backdropfilter {
        display: none;
      }

      &__column {
        display: flex;
        overflow: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }

      &__roll {
        display: flex;
        justify-content: center;
        width: 420px;
        height: fit-content;
        margin-bottom: 40px;
        // background-image: url('/images/pelloche.png');
        background-size: cover;
        background-position: center;
        margin-right: 100px;
      }

      &__roll-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 320px;
        height: 100%;
        background-color: vars.$theme1-secondary;
        margin-top: 70px;

        &__item {
          font-size: 100%;
          font-weight: 500;
          text-align: center;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: vars.$theme1-secondary;
          background-color: vars.$theme1-primary;
          width: 100%;
          height: 100%;
          background-image: url('/images/pellochebghome.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: 100%;
          width: 100%;
          height: 20px;
          padding: 13%;
          margin: 1%;
          transition: transform 0.2s ease-in-out;
          border: none;
          position: relative;

          &-a {
            position: absolute;
            bottom: 5px;
            left: 49px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-b {
            position: absolute;
            top: 5px;
            right: 45px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-c {
            position: absolute;
            bottom: 5px;
            left: 49px;
            margin: 0.6rem 0.6rem;
            transition: transform 0.2s ease-in-out;

            cursor: pointer;

            &:hover {
              transform: scale(1.3);
              cursor: pointer;
            }
          }

          &-category {
            position: sticky;
            top: 0;
            font-weight: 700;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: vars.$theme1-primary;
            font-size: 32px;
            background-color: vars.$theme1-secondary;
            width: 200px;
            padding: 10px;
            margin: 5px;
            z-index: 2;
          }
        }
      }
    }
  }

  &-modale-notconnected {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 70vw;
    height: 70vh;
    background-color: vars.$theme1-primary;
    border: 5px solid vars.$theme1-secondary;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: vars.$theme1-secondary;
    opacity: 0;

    &.active {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
      /* Retourner à l'échelle normale */
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
  }

  &__personnal {
    width: 45vw;
    height: 100vh;
    display: flex;
    margin-top: 3vh;
    flex-direction: column;
    justify-content: center;
    // margin-top: 10vh;
    color: vars.$theme1-secondary;

    &__pictureemailpassword {
      display: flex;
      flex-direction: row;

      &__emailpassword {
        margin: 1vh 0 0 0;

        &__email {
          margin-bottom: 20px;
          font-size: 25px;
          display: flex;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }

        &__password {
          margin-left: 17px;
          margin-bottom: 20px;
          font-size: 20px;
          display: flex;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }
      }
    }

    h2 {
      font-size: 46px;
    }

    &__circle {
      margin-bottom: 30px;
      // scale: 1.2;

      // j'accède aux propriétés de la balise img
      & img {
        // width: 15vw;
        // height: 28vh;
        scale: 1.1;
        border-radius: 50%;
        // border: 0px solid vars.$theme1-secondary;
        margin: 0 auto;
        display: block;
      }

      &__pen:hover {
        cursor: pointer;
      }
    }

    &__infos {
      // margin-bottom: 15%;

      &__pictureemailpassword {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &__title {
      margin-bottom: 50px;
      margin-left: 50px;
    }
  }
}

//* ============ VERSION MOBILE ============
@media screen and (max-width: 1100px) {
  .profile-container {
    display: flex;
    flex-direction: column;
    height: 100vh;

    &__roll-modale {
      &-mobile-version {
        position: absolute;
        padding-top: 70px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;

        &-backdropfilter {
          z-index: 4;
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          display: block;
          background-color: vars.$theme1-primary;
        }

        &__column {
          z-index: 5;
          display: flex;
          overflow: hidden;
          overflow-y: auto;
          flex-direction: column;

          &::-webkit-scrollbar {
            display: none;
          }

          &__validation {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            z-index: 7;
            width: 100%;
            height: 60px;
            background-color: vars.$theme1-primary;

            & button {
              font-weight: bold;
              width: 170px;
              height: 50pxrem;
              margin: 0.75rem;
              margin-bottom: 0.5rem;
              padding: 0.2rem 1rem;
              border: none;
              border-radius: 6px;
              font-size: 1.4rem;
              color: #335c67;
              background-color: #fff3b0;

              &:hover {
                cursor: pointer;
              }
            }
          }

          &__returnbuttonarea {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            z-index: 7;
            width: 100%;
            height: 60px;
            background-color: vars.$theme1-primary;
            left: 0;

            &__return {
              font-weight: bold;
              width: 170px;
              height: 50pxrem;
              margin: 0.75rem;
              margin-bottom: 0.5rem;
              padding: 0.2rem 1rem;
              border: none;
              border-radius: 6px;
              font-size: 1.4rem;
              color: #335c67;
              background-color: #fff3b0;

              &:hover {
                cursor: pointer;
              }
            }
          }
        }

        &__roll {
          display: flex;
          justify-content: center;
          width: 280px;
          height: fit-content;
          background-image: url('/images/pelloche.png');
          background-size: cover;
          background-position: center;
        }

        &__roll-container {
          height: 100%;
          z-index: 1001;
          display: flex;
          flex-direction: column;
          align-items: center;
          max-height: 100%;
          background-color: vars.$theme1-secondary;

          &::-webkit-scrollbar {
            display: none;
          }

          &__item {
            // border: none;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: vars.$theme1-secondary;
            background-color: vars.$theme1-primary;
            width: 200px;
            height: 70px;
            padding: 20px 20px;
            margin: 5px;
            cursor: pointer;
            flex-wrap: nowrap;
            position: relative;
            text-align: center;

            &-a {
              position: absolute;
              bottom: 5px;
              left: 5px;
              cursor: pointer;
            }

            &-b {
              position: absolute;
              top: 5px;
              right: 5px;
              cursor: pointer;
            }

            &-c {
              position: absolute;
              bottom: 5px;
              left: 5px;
              cursor: pointer;
            }

            &-category {
              position: sticky;
              top: 0;
              font-weight: 700;
              display: flex;
              justify-content: space-around;
              align-items: center;
              color: vars.$theme1-primary;
              font-size: 32px;
              background-color: vars.$theme1-secondary;
              width: 200px;
              padding: 10px;
              z-index: 2;
            }
          }
        }
      }
    }

    &__personnal {
      width: 100%;
      margin-left: 0;

      &__circle {
        margin: 50px 0 20px 0;
        // scale: 1.2;

        // j'accède aux propriétés de la balise img
        & img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          // border: 0px solid vars.$theme1-secondary;
          margin: 0 auto;
          display: block;
        }
      }

      &__infos {
        display: flex;
        justify-content: center;
        margin-bottom: 0;

        &__title {
          display: none;
        }

        &__pictureemailpassword {
          display: flex;
          flex-direction: column;
          margin-top: 15%;
          align-items: center;
        }
      }

      &__pictureemailpassword__emailpassword {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 25px 25px 10px 25px;

        &__email {
          display: inline-block;
          width: 100%;
          text-align: center;

          span {
            font-style: italic;
          }

          div {
            margin-left: 5px;
            font-weight: 700;
          }
        }

        &__deleteButton {
          width: 38vw;
          height: 3.5vh;
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin-bottom: 10px;
          margin-top: 15px;
          color: vars.$theme1-primary;
          background-color: vars.$theme1-secondary;
          border-radius: 9px;
          border: vars.$theme1-secondary;
          font-size: 16px;
          padding: 0 6px;

          &:hover {
            cursor: pointer;
          }
        }

        &__password {
          display: inline-block;
          width: 100%;
          text-align: center;
          margin: auto;
        }
      }
    }

    &__rollbuttons {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__button {
        width: 60vw;
        height: 8vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 5px;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 15px;
        border: vars.$theme1-secondary;
        font-size: 32px;
        padding: 0 6px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}