$theme1-primary: #335c67;
$theme1-secondary: #fff3b0;

$theme2-primary: #780000;
$theme2-primary: #fdf0d5;

$menu-icon-line-height: 8px;
$menu-icon-line-space: 14px;
$menu-icon-line-offsetY: $menu-icon-line-height + $menu-icon-line-space;
$menu-icon-height: (3 * $menu-icon-line-height) + (2 * $menu-icon-line-space);
$cubic-bezier-in: cubic-bezier(0.3, 1, 0.7, 1);
$cubic-bezier-out: cubic-bezier(1, 0.7, 1, 0.3);
$input-text-size: 17px;

$darken-theme1-secondary: adjust-color($theme1-secondary, $lightness: -40%);
