@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {
  .imageModal__container {
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100%;
    background-size: cover;
    // background-color: vars.$theme1-primary;
    background-color: #335c67b6;
    backdrop-filter: blur(5px);
    z-index: 3;

    &-image {
      height: 100vh;
      width: auto;
      padding: 0 30%;
    }
  }
}

//* MOBILE VERSION =================

@media screen and (max-width: 900px) {

  .imageModal__container {
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    // background-color: vars.$theme1-primary;
    background-color: #335c67b6;
    backdrop-filter: blur(5px);
    z-index: 2;

    &-image {
      width: 100%;
    }
  }
}