@use '../../../../styles/vars';


//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {

    // Element commun au titre de chaque catégorie de disponibilité
    .common-title--desktop {
        font-size: 1rem;
        font-weight: bold;
        height: fit-content;
        text-align: center;
        text-transform: uppercase;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        margin: 0.3rem;
        margin-bottom: 1rem;
        padding: 0.5rem;
        border-radius: 6px;
    }

    // Plateformes
    .movieFound__essentiel {

        // Container regroupant les plateformes
        &-disponibility {
            display: flex;
            justify-content: space-around;
            min-width: fit-content;

            // Plateforme individuelle
            & li {
                font-size: 1rem;
                font-weight: bold;
                height: fit-content;
                text-align: center;
                color: vars.$theme1-primary;
                background-color: vars.$theme1-secondary;
                margin: 0.3rem;
                padding: 0.5rem;
                border-radius: 6px;

                :hover {
                    transform: scale(1.1);
                    // transition: all 0.2s ease;
                }
            }
        }

        // Boucle sur chaque élément + implémentation du .common-title
        @each $option in flatrate,
        rent,
        buy,
        free,
        ads {
            &-#{$option} {
                &--title {
                    @extend .common-title--desktop;
                }
            }
        }
    }
}

//* MOBILE VERSION =================

@media screen and (max-width: 900px) {

    // Element commun au titre de chaque catégorie de disponibilité
    .common-title--mobile {
        font-size: 1rem;
        font-weight: bold;
        height: fit-content;
        text-align: center;
        text-transform: uppercase;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        margin: 0.3rem;
        padding: 0.5rem;
        border-radius: 6px;
    }

    // Plateformes
    .movieFound__essentiel {

        // Container regroupant les plateformes
        &-disponibility {
            display: flex;
            justify-content: space-around;
            min-width: fit-content;

            // Plateforme individuelle
            & li {
                font-size: 1rem;
                font-weight: bold;
                height: fit-content;
                text-align: center;
                color: vars.$theme1-primary;
                background-color: vars.$theme1-secondary;
                margin: 0.3rem;
                padding: 0.5rem;
                border-radius: 6px;

                :hover {
                    transform: scale(1.1);
                    // transition: all 0.2s ease;
                }
            }
        }

        // Boucle sur chaque élément + implémentation du .common-title
        @each $option in flatrate,
        rent,
        buy,
        free,
        ads {
            &-#{$option} {
                &--title {
                    @extend .common-title--mobile;
                }
            }
        }
    }

}