@use './../../../styles/vars';

// MOBILE VERSION =================

@media screen and (max-width: 900px) {
    .moviePage {
        color: vars.$theme1-secondary;
        width: 100%;
        background-color: vars.$theme1-primary;
    }

    .movieFound {
        height: 100vh;
        margin-bottom: 125px;
        padding: 20% 2rem 2rem 2rem;
        overflow-y: auto;

        &__essentiel {
            display: flex;
            overflow: auto;
            flex-wrap: wrap;

            &-head {
                display: flex;
                width: 100%;
                margin-bottom: 1rem;
            }

            &-title {
                font-size: 1.4rem;
                font-weight: bold;
                margin-right: auto;
            }

            &-btn--addToLike {
                font-size: 0;
                margin: 0.15rem;
                width: 20px;
                height: 20px;
            }

            &-btn--addToFavorites {
                font-size: 0;
                margin: 0.15rem;
                width: 20px;
                height: 20px;
            }

            &-btn--addToViewed {
                font-size: 0;
                margin: 0.15rem;
                width: 20px;
                height: 20px;
            }

            &-image {
                width: 100%;
                border: vars.$theme1-secondary solid 7px;
                border-radius: 6px;
            }

            &-body {
                display: flex;
                align-items: flex-start;
                align-items: center;
                width: 100vw;
                margin: 1.2rem 0 2.5rem 0;

                &--note {
                    font-size: 1.7rem;
                    font-weight: bold;
                    margin: 0.7rem 1rem;

                    &---opinion {
                        font-size: 0.7rem;
                        margin-top: 0.3rem;
                    }
                }
            }

            &-disponibility {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 100%;

                &-plateform {
                    font-size: 0.9rem;
                    font-weight: bold;
                    color: vars.$theme1-primary;
                    background-color: vars.$theme1-secondary;
                    margin: 0.3rem;
                    padding: 0.5rem;
                    border-radius: 6px;
                }
            }
        }
    }

    .movieDetails__filters {
        display: flex;
        position: fixed;
        filter: drop-shadow(0 -3mm 5mm rgba(66, 66, 66, 0.349));
        bottom: 0;
        left: 0;
        right: 0;
        flex-wrap: wrap;
        justify-content: center;
        background: vars.$theme1-primary;
        width: 100vw;
        height: 16%;
        padding-top: 5px;

        &-otherDetailsBtn {
            font-weight: bold;
            width: 70vw;
            height: 2.5rem;
            margin: 0.8rem 5rem;
            padding: 0.2rem 1rem;
            border: none;
            border-radius: 6px;
            font-size: 1.2rem;
            color: vars.$theme1-primary;
            background-color: vars.$theme1-secondary;
        }

        &-filterElem {
            font-weight: bold;
            margin: 0.8rem 0.5rem;
            padding: 0.5rem 0.5rem;
            border: none;
            border-radius: 6px;
            font-size: 1.2rem;
            color: vars.$theme1-primary;
            background-color: vars.$theme1-secondary;

            &--modifier {
                display: none;
            }
        }
    }

    .movieDetails__description {
        font-weight: bold;

        &-resumeTitle {
            font-size: 1.2rem;
            padding-bottom: 1rem;
        }

        &-resume {
            margin-bottom: 1rem;
        }

        &-duration {
            margin: 1rem 0;
        }

        &-date {
            margin-bottom: 1rem;
        }

        &-details {
            border: none;
            background: none;
            background-color: vars.$theme1-secondary;
            color: vars.$theme1-primary;
            width: 100%;
            height: 1.7rem;
            border-radius: 6px;
            font-size: 1rem;
            font-weight: bold;
            margin-bottom: 2rem;
        }

        &-area {
            border-radius: 6px;
            background-color: vars.$theme1-secondary;
            color: vars.$theme1-primary;
            width: 100%;
        }
    }

    .footer {
        display: none;
    }
}