@use '../../../../styles/vars';

//* DESKTOP VERSION =================
@media screen and (min-width: 900px) {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &_title {
            font-size: 2rem;
            color: vars.$theme1-secondary;
            margin: 1rem 0;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            width: 80%;
            padding: 4px 0;

            &_title {
                margin: 0 90% 0 0;
            }

            &__element_user {
                width: 30%;
                border-radius: 8px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-primary;
                margin-top: 5px;
                margin-bottom: 20px;
                color: vars.$theme1-secondary;
                padding: 4px;
                font-size: 1rem;
                font-family: 'Creato Display', sans-serif;

            }

            &__element_message {
                width: 100%;
                height: 230px;
                border-radius: 11px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-primary;
                margin-bottom: 10px;
                margin-top: 5px;
                color: vars.$theme1-secondary;
                padding: 4px;
                font-size: 1rem;
                font-family: 'Creato Display', sans-serif;

            }

            &__element_submit {
                width: 10%;
                margin: 0 0 0 90%;
                border-radius: 6px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-secondary;
                color: vars.$theme1-primary;
                font-size: 1rem;
                font-weight: bold;

            }
        }
    }





}

//* MOBILE VERSION =================
@media screen and (max-width: 900px) {

    .container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &_title {
            font-size: 2rem;
            color: vars.$theme1-secondary;
            margin: 1rem 0 1rem 10vw;
        }

        &_form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            width: 80%;
            padding: 4px 0;

            &_title {
                margin: 0 90% 0 0;
            }

            &__element_user {
                width: 100%;
                border-radius: 8px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-primary;
                margin-top: 5px;
                margin-bottom: 20px;
                color: vars.$theme1-secondary;
                padding: 4px;
                font-size: 1rem;
                font-family: 'Creato Display', sans-serif;

            }

            &__element_message {
                width: 100%;
                height: 230px;
                border-radius: 11px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-primary;
                margin-bottom: 10px;
                margin-top: 5px;
                color: vars.$theme1-secondary;
                padding: 4px;
                font-size: 1rem;
                font-family: 'Creato Display', sans-serif;

            }

            &__element_submit {
                width: 50%;
                margin: 0 0 0 50%;
                border-radius: 6px;
                border: vars.$theme1-secondary solid 2px;
                background-color: vars.$theme1-secondary;
                color: vars.$theme1-primary;
                font-size: 1rem;
                font-weight: bold;

            }
        }
    }


}