@use '../../../../styles/vars';

//* DESKTOP VERSION =================

@media screen and (min-width: 900px) {

    .movieFound__essentiel {

        // Bouton "ajouter aux likes"
        &-btn--addToLike {
            all: unset;
            scale: 1.6;
            margin: 0.2rem 0.6rem;

            :hover {
                scale: 1.3;
            }
        }

        // Bouton "ajouter aux favoris"
        &-btn--addToFavorites {
            all: unset;
            scale: 1.6;
            margin: 0.2rem 0.6rem;

            :hover {
                scale: 1.3;
            }
        }

        // Bouton "à voir"
        &-btn--addToViewed {
            all: unset;
            scale: 1.8;
            margin: 0.2rem 0.6rem;

            :hover {
                scale: 1.3;
            }
        }
    }
}

//* MOBILE VERSION =================

@media screen and (max-width: 900px) {

    .movieFound__essentiel {

        // Bouton "ajouter aux likes"
        &-btn--addToLike {
            all: unset;
            scale: 1.4;
            margin: 0.6rem;
        }

        // Bouton "ajouter aux favoris"
        &-btn--addToFavorites {
            all: unset;
            scale: 1.4;
            margin: 0.6rem;
        }

        // Bouton "à voir"
        &-btn--addToViewed {
            all: unset;
            scale: 1.6;
            margin: 0.6rem;
        }
    }
}