@use '../../../../styles/vars';

//* DESKTOP VERSION =================
@media screen and (min-width: 900px) {
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

    &__legalModal {
      position: fixed;
      overflow: auto;
      z-index: 1;
      width: 75vw;
      height: 100%;
      margin: 20%;
      border: none;
      text-align: center;
      padding: 70px 7rem;

      &::-webkit-scrollbar {
        display: none;
      }

      &__title {
        display: flex;
        flex-direction: column;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 0.7rem;
        margin: 2rem auto;
        padding: 20px;
        width: 80%;
        white-space: pre-wrap;
      }

      h2 {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
      }

      h3 {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 0.6rem;
        text-align: center;
      }

      h4 {
        font-size: 1.3rem;
        font-weight: bold;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 0.7rem;
        margin: 2rem auto;
        padding: 10px;
        width: 80%;
      }

      p {
        font-size: 1.2rem;
        color: vars.$theme1-secondary;
        max-width: 80%;
        margin: 1rem auto;
        text-align: justify;
      }

      &__button--container {
        z-index: 3;
        display: flex;
        width: 100vw;
        height: 70px;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #335c67;
        filter: drop-shadow(0 -3mm 5mm rgba(66, 66, 66, 0.349));

        &---btn {
          font-size: 1.2rem;
          width: 20%;
          height: 2rem;
          border: none;
          background: none;
          background-color: #fff3b0;
          color: vars.$theme1-primary;
          border-radius: 6px;
          font-weight: bold;

          &:hover {
            transform: scale(1.03);
            cursor: pointer;
          }
        }
      }
    }
  }
}

//* MOBILE VERSION =================
@media screen and (max-width: 900px) {
  .container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: stretch;

    &__legalModal {
      display: flex;
      overflow: auto;
      flex-direction: column;
      margin: 70px auto 50px auto;
      position: fixed;
      z-index: 1;
      width: 95vw;
      height: 85%;
      border: none;
      text-align: center;

      &__title {
        display: flex;
        flex-direction: column;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 0.7rem;
        margin: 1.5rem auto;
        padding: 20px;
        width: 80%;
        white-space: pre-wrap;
      }

      h2 {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: bold;
        margin-top: 0.6rem;
        text-align: center;
      }

      h4 {
        font-size: 1.1rem;
        font-weight: bold;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 0.7rem;
        margin: 1rem auto;
        padding: 10px;
        width: 80%;
      }

      p {
        font-size: 1rem;
        color: vars.$theme1-secondary;
        max-width: 80%;
        margin: 0.6rem auto;
        text-align: center;
      }

      &__button--container {
        z-index: 3;
        display: flex;
        width: 100vw;
        height: 45px;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 0;
        background-color: #335c67;
        filter: drop-shadow(0 -3mm 5mm rgba(66, 66, 66, 0.349));

        &---btn {
          font-size: 1.2rem;
          width: 30%;
          height: 30px;
          border: none;
          background: none;
          background-color: #fff3b0;
          color: vars.$theme1-primary;
          border-radius: 6px;
          font-weight: bold;

          &:hover {
            transform: scale(1.03);
            cursor: pointer;
          }
        }
      }
    }
  }
}