@use '../../../../styles/vars';
.container {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1.3rem);
}

.legalModal {
    position: fixed;
    z-index: 1;
    width: 900px;
    height: 380px;
    overflow: auto;
    background-color: vars.$theme1-primary;
    border-radius: 1.5rem;
    margin: 20%;


    &-title {
        font-size: 1.3rem;
        font-weight: bold;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 0.7rem;
        margin: 2rem auto;
        /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Could be more or less, depending on screen size */
    }

    &-content {
        color: vars.$theme1-secondary;
        max-width: 80%;
        margin: auto;
    }
}

@media screen and (max-width: 900px) {
    .legalModal {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: vars.$theme1-primary;
        width: 100vw;
        padding-top: 5px;

        &-title {
            font-size: 1.1rem;
            color: vars.$theme1-secondary;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 1rem;
        }
    }
}

@media screen and (max-width: 500px) {
    .legalModal {
        &-title {
            font-size: 0.9rem;
            color: vars.$theme1-secondary;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.6rem;
        }
    }
}