@use './../../../styles/vars';

.Home {
  &-container {
    height: 100vh;
    width: 100vw;
    background-color: vars.$theme1-primary;
    display: flex;
    justify-content: space-evenly;
    &__button {
      width: 25vw;
      height: 100vh;
      background-color: black;
      color: red;
    }
  }
}

// VERSION MOBILE ============

@media screen and (max-width: 900px) {
  .Home {
    &-container {
      // padding: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      &-backdropfilter {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        &.active {
          display: block;
          backdrop-filter: brightness(60%);
        }
      }
      &__buttons {
        &__button {
          width: 60vw;
          height: 8vh;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: 20px;
          margin-top: 10px;
          color: vars.$theme1-primary;
          background-color: vars.$theme1-secondary;
          border-radius: 15px;
          border: vars.$theme1-secondary;
          font-size: 32px;
          padding: 0 6px;
          // filter: drop-shadow(0px 3px 3px grey);
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
