@use './../../../../styles/vars';

@media screen and (min-width: 900px) {
    .delete-profile-modal {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);




        &__content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 30%;
            height: 15%;
            background-size: cover;
            background-color: vars.$theme1-primary;
            border-radius: 11px;
            border: 2px solid vars.$theme1-secondary;
            color: vars.$theme1-secondary;
        }
    }

    .modal-buttons {
        &__button {
            width: 150px;
            height: 30px;
            border-radius: 11px;
            background-color: vars.$theme1-secondary;
            color: vars.$theme1-primary;
            font-size: 1.2rem;
            margin: 20px 10px 0px 0px;
            border: vars.$theme1-secondary;

        }
    }
}

//* ============ VERSION MOBILE ============
@media screen and (max-width: 1100px) {

    .delete-profile-modal {
        display: flex;
        justify-content: center;
        position: absolute;
        align-items: center;
        width: 100vw;
        height: 100vh;
        z-index: 3;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .delete-profile-modal__content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;
        height: 30%;
        background-size: cover;
        background-color: vars.$theme1-primary;
        border-radius: 11px;
        border: 2px solid vars.$theme1-secondary;
        color: vars.$theme1-secondary;
        padding: 10px 20px;
    }


    .modal-buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        &__button {
            width: 30vw;
            height: 30px;
            border-radius: 11px;
            background-color: vars.$theme1-secondary;
            color: vars.$theme1-primary;
            font-size: 1.2rem;
            margin: 20px 10px 0px 0px;
            border: vars.$theme1-secondary;

        }
    }
}