@use './../../../styles/vars';

.new-account {
  font-size: 14px;
  color: vars.$darken-theme1-secondary;
}

.Login {
  &-container {
    background-color: vars.$theme1-primary;
    color: vars.$theme1-secondary;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &-input {
        border: black 1px solid;
        margin: 15px 0;
        border-radius: 15px;
        height: 30px;
        padding: 0 10px;
        &::placeholder {
          color: grey;
          opacity: 0.4;
        }
        &[type='password'] {
          font-size: vars.$input-text-size;
        }
        &[type='text'] {
          font-size: vars.$input-text-size;
        }
        &:focus {
          background: vars.$theme1-secondary;
          border: black 2px solid;
        }
      }
      button {
        margin-top: 10px;
        color: vars.$theme1-primary;
        background-color: vars.$theme1-secondary;
        border-radius: 15px;
        border: vars.$theme1-secondary;
        font-size: 32px;
        margin-bottom: 7px;
        padding: 0 6px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}
